{{#if (and shouldShow discoveryRoute)}}
  <div class="custom-homepage-wrapper">
    <div class="wrap custom-homepage">
      <div class="welcome-wrapper">
        <div class="welcome-content">
          <h2>{{theme-i18n "meta_banner.welcome"}}</h2>
          <p>{{theme-i18n "meta_banner.subtitle"}}</p>
        </div>
        <div class="featured-todo">
          <div>
            <a href="https://sepla21.org/docs">
              <h3>{{d-icon "info-circle"}}
                {{theme-i18n "meta_banner.docs"}}</h3>
            </a>
          </div>
          <div>
            <a href="https://sepla21.org">
              <h3>{{d-icon "rss"}}
                {{theme-i18n "meta_banner.themes"}}</h3>
            </a>
          </div>
          <div>
            <a href="https://afiliacion.sepla21.org">
              <h3>
                {{d-icon "fas-fist-raised"}}
                {{theme-i18n "meta_banner.hosting"}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
